// Override theme variables before importing
$link-color: rgb(163, 21, 21);

// Import theme styles
@import "css/normalize";
@import "variables";

$font-family: 'Lora', 'Georgia', serif;

@import "font-awesome/fontawesome";
@import "font-awesome/regular";
@import "font-awesome/solid";
@import "font-awesome/brands";
@import "font-awesome/v4-shims";
@import "base";
@import "content";
@import "notices";
@import "navigation";
@import "pagination";
@import "tabs";
@import "taxonomies";
@import "footer";
@import "float";
@import "mastodon";
@import "syntax";
